registry = https://artifactory.platform.manulife.io/artifactory/api/npm/mfc-dig-npm/
_auth = ZHNkZXZvcHM6QVA3ZVQ1M01YdU5BcW95cHRHdnIzWXpTeWlIRVJUTGh0Szd2Vmo=
always-auth = true
email = Digital_Solutions_Support@jhancock.com